:root {
  --primary-color: #FEA709;
  --secondary-color: #025373;
  --text-color: #333;
  --light-bg: #f6f8ff;
  --white:#ffffff;
  --font-family: 'Segoe UI', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: var(--light-bg);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ========== FORMULARIO DE INICIO DE SESION ========== */
  .login-container {
    display: flex;
    width: 900px;
    height: 500px;
    background: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .login-left {
    flex: 1;
    background-image: url("/assets/img/blob-scene-haikei.svg");
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
  }
  
  .login-left h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .login-left p {
    font-size: 16px;
    text-align: center;
  }
  
  .login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-right h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--secondary-color);
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .options a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .btn-login {
    width: 100%;
    padding: 12px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: var(--primary-color);
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: var(--secondary-color);
    text-decoration: none;
  }

  .logo {
    width: 280px;
  }
  
  .btn-outline {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline:hover {
    background-color: var(--white);
    color: var(--secondary-color); 
  }

/* ========== FORMULARIO DE REGISTRO ========== */

.register-container {
    display: flex;
    width: 900px;
    height: 500px;
    background: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.register-left {
    flex: 1;
    background-image: url("/assets/img/blob-scene-haikei.svg");
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
}

.register-left p {
  text-align: center;
}

.register-right {
    flex: 1.2;
    padding: 1.5rem;
    background-color: var(--white);
}

.register-right h2 {
    margin-bottom: 1.2rem;
    text-align: center;
    color: var(--secondary-color);
}


.register-right .input-group {
    margin-bottom: 0.8rem;
}

.register-right input,
.register-right select {
    width: 100%;
    padding: 0.5rem 1rem;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.password-group {
  position: relative;
}

.password-group input {
  width: 100%;
  padding-right: 40px; /* Espacio para el icono */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.register-right .options {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.btn-register {
    width: 100%;
    padding: 0.7rem;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 0.85rem;
    cursor: pointer;
}

.btn-register:hover {
   background-color: var(--primary-color);
}

.login-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.85rem;
    color: var(--secondary-color);
}

.login-link a{
  color: var(--secondary-color);
}

/* Estilo del label genérico */
.register-right label {
    font-size: 0.9rem;
}

/* Estilo específico para el consentimiento de datos */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.register-right input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
}


/*MEDIA QUERYS*/

  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      height: auto;
      width: 90%;
    }
  
    .login-left {
      display: none;
    }
  
    .login-right {
      width: 100%;
      padding: 30px;
    }

    .register-container {
        flex-direction: column;
        height: auto;
        width: 90%;
    }
    
    .register-left {
        display: none;
    }
    
    .register-right {
        width: 100%;
        padding: 30px;
    }
  }
  